fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

pydantic
pydantic-settings
python-dotenv

python-jose[cryptography]
passlib[bcrypt]

python-multipart

groq

httpx

email-validator

redis

apscheduler

reportlab

pandas

python-dateutil

pytest
pytest-asyncio