@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --primary: #2E62FF;
  --secondary: #10B981;
  --tertiary: #8B5CF6;

  --background: #0F172A;
  --surface: #111827;
  --surface-light: #1E293B;

  --text: #F8FAFC;
  --muted: #94A3B8;
  --border: #334155;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}